# OS
.DS_Store
Thumbs.db
desktop.ini

# Editores
.vscode/
.idea/
*.swp
*.swo
*~

# Node (por si añades build)
node_modules/
package-lock.json

# Logs
*.log
npm-debug.log*

# Backups
*.bak
*.tmp
*.old
backup/
